<!-- about -->
<div class="about">
    <div class="about-1">
        <div class="image">
            <img src="../../public/images/1.png" alt="">
        </div>
        <div class="link">
            <a href="http://vbpl.vn/pages/portal.aspx">
                <p><strong>CSDLQG VỀ VĂN BẢN PHÁP LUẬT</strong></p>
            </a>
        </div>
    </div>
    <div class="about-2">
        <div class="image">
            <img src="../../public/images/2.png" alt="">
        </div>
        <div class="link">
            <a href="http://hdpl.moj.gov.vn/Pages/home.aspx">
                <p><strong>HỎI ĐÁP PHÁP LUẬT</strong></p>
            </a>
        </div>

    </div>
    <div class="about-3">
        <div class="image">
            <img src="../../public/images/3.png" alt="">
        </div>
        <div class="link">
            <a href="http://csdl.thutuchanhchinh.vn/Pages/trang-chu.aspx">
                <p><strong>CSDLQG VỀ THỦ TỤC HÀNH CHÍNH</strong></p>
            </a>
        </div>

    </div>
    <div class="about-4">
        <div class="image">
            <img src="../../public/images/4.png" alt="">
        </div>
        <div class="link">
            <a href="http://nghean.gov.vn:10040/wps/portal/huyennghiloc">
                <p><strong>CỔNG THÔNG TIN ĐIỆN TỬ HUYỆN NGHI LỘC</strong></p>
            </a>
        </div>
    </div>
</div>
<!-- about -->