<div class="banner">
    <div class="container position-relative banner-content d-flex justify-content-center">
        <!-- <img class="img-fluid" src="<%- directories.bannerUrl %>" alt="Banner image"> -->
        <img class="img-fluid" src="<%- directories.bannerUrl %>" alt="Banner image">
        <!-- <div class="main-title">
                <h2 class="text-white text-uppercase">
                    <%- directories.mainTitle %>
                </h2>
            </div>
            <div class="sub-title mt-4">F
                <h4 class="text-white">
                    <%- directories.subTitle %>
                </h4>
            </div> -->
        <% if (isShowExamButton) { %>
            <div class="get-now-btn-ctn position-absolute">
                <div id="get-now-btn"
                    class="get-now-btn">
                    <img class="get-now-img" src="/public/images/btn-thi.png" alt="Button exam">
                </div>
            </div>
            <% } %>
                <!-- <div class="banner-img align-self-end ms-auto">
            <img width="400" src="../../public/images/a.svg" alt="">
        </div> -->
    </div>
</div>