<div class="banner">
    <div class="container banner-content d-flex justify-content-center" style="background: url('<%- directories.bannerUrl %>');">
        <!-- <div class="main-title">
                <h2 class="text-white text-uppercase">
                    <%- directories.mainTitle %>
                </h2>
            </div>
            <div class="sub-title mt-4">F
                <h4 class="text-white">
                    <%- directories.subTitle %>
                </h4>
            </div> -->
        <% if (isShowExamButton) { %>
            <div class="get-now-btn-ctn" style="margin-top: 240px">
                <div id="get-now-btn"
                    class="get-now-btn bg-success d-flex align-items-center justify-content-center text-white">
                    Tham gia ngay!
                </div>
            </div>
            <% } %>
                <!-- <div class="banner-img align-self-end ms-auto">
            <img width="400" src="../../public/images/a.svg" alt="">
        </div> -->
    </div>
</div>