<div class="mt-3">
    <div class="container">
        <div class="p-3 text-center border bg-light" style="font-size: 13px;">
            Website: <%- directories.webName %> @copyright <%- (new Date()).getFullYear() %> <br/>
            <%- directories.footer %>
        </div>
    </div>
</div>