<div class="footer border-top border-3 border-primary">
    <div class="container">
        <div class="text-white p-3 text-center">
            <%- directories.footer %>
        </div>
    </div>
</div>