<div class="border-top">
    <div class="container">
        <div class="row p-3">
            <!-- about -->
            <div class="col-md-6 col-lg-3 mb-2 d-flex">
                <div>
                    <img width="64" height="64" src="../../public/images/1.png" alt="">
                </div>
                <div class="p-1">
                    <a href="http://vbpl.vn/pages/portal.aspx">
                        <p><strong>CSDLQG VỀ VĂN BẢN PHÁP LUẬT</strong></p>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-2 d-flex">
                <div>
                    <img width="64" height="64" src="../../public/images/2.png" alt="">
                </div>
                <div class="p-1">
                    <a href="http://hdpl.moj.gov.vn/Pages/home.aspx">
                        <p><strong>HỎI ĐÁP PHÁP LUẬT</strong></p>
                    </a>
                </div>

            </div>
            <div class="col-md-6 col-lg-3 mb-2 d-flex">
                <div>
                    <img width="64" height="64" src="../../public/images/3.png" alt="">
                </div>
                <div class="p-1">
                    <a href="http://csdl.thutuchanhchinh.vn/Pages/trang-chu.aspx">
                        <p><strong>CSDLQG VỀ THỦ TỤC HÀNH CHÍNH</strong></p>
                    </a>
                </div>

            </div>
            <div class="col-md-6 col-lg-3 mb-2 d-flex">
                <% if (directories.tenantId=='623f2814e2bf65460c67547b' ) { %>
                    <div>
                        <img width="64" height="64" src="../../public/images/4.png" alt="">
                    </div>
                    <div class="p-1">
                        <a href="http://www.nghiloc.nghean.gov.vn/">
                            <p><strong>CỔNG THÔNG TIN ĐIỆN TỬ HUYỆN NGHI LỘC</strong></p>
                        </a>
                    </div>
                    <% } %>

                        <% if (directories.tenantId !='623f2814e2bf65460c67547b' ) { %>
                            <div>
                                <img width="64" height="64" src="../../public/images/5.png" alt="">
                            </div>
                            <div class="p-1">
                                <a href="http://www.quynhluu.nghean.gov.vn/">
                                    <p><strong>CỔNG THÔNG TIN ĐIỆN TỬ HUYỆN QUỲNH LƯU</strong></p>
                                </a>
                            </div>
                            <% } %>
            </div>
        </div>
    </div>
</div>