<div class="user-infomation-form">
  <h3 class="text-uppercase text-primary" style="font-size: 15px">Thông tin cá nhân</h3>
  <form id="form-info row">
    <input
      id="name"
      class="form-control mb-2"
      type="text"
      name="name"
      placeholder="Họ và tên thí sinh"
    />
    <input
      id="identityNumber"
      class="form-control mb-2"
      type="text"
      name="identityNumber"
      placeholder="Số CMND, CCCD hoặc hộ chiếu"
    />
    <input
      id="phone"
      class="form-control mb-2"
      type="text"
      name="phone"
      placeholder="Số điện thoại"
    />
    <input
      id="date-of-birth"
      class="form-control mb-2"
      type="datetime"
      name="date-of-birth"
      placeholder="Ngày sinh"
    />
    <label>Đối tượng</label>
    <select id="objectives" class="form-control mb-2"></select>
    <label>Đơn vị</label>
    <select id="organization" class="form-control mb-2"></select>
    <label>Địa chỉ bổ sung</label>
    <input
      id="option-infor"
      class="form-control mb-2"
      type="text"
      name="thongTinThem"
    />
  </form>
  <button id="create-transaction" class="btn btn-primary">Tiếp tục</button>
</div>

<script>
  $(document).ready(function () {
    var optionInfor = $("#option-infor");
    var forObject = $("input[type=radio][name=forObject]");
    var name = $("#name");
    var identityNumber = $("#identityNumber");
    var phone = $("#phone");
    var dateOfBirth = $("#date-of-birth");
    var organization = $("#organization");
    var objectives = $("#objectives");
    var createTransaction = $("#create-transaction");
    var organizationDataFromServer = {};

    // Khởi tạo dữ liệu
    function init() {
      bindDataForTeacher();
    }

    function bindDataForTeacher() {
      var organizationtext = "<%- organizations %>";
      var html = "";
      organizationArr = organizationtext.split(",");
      organizationArr.forEach(function (item) {
        html += '<option value="' + item.trim() + '">' + item.trim() + "</option>";
      });
      organization.html(html);

      var html2 = "";
      var objectivesText = "<%- objectives %>";
      objectivesArr = objectivesText.split(",");
      objectivesArr.forEach(function (item) {
        html2 += '<option value="' + item.trim() + '">' + item.trim() + "</option>";
      });
      objectives.html(html2);
    }

    $("#create-transaction").click(
      $.debounce(400, function (e) {
        var requestData = {
          name: name[0].value,
          identityNumber: identityNumber[0].value,
          phone: phone[0].value,
          organization: organization[0].value,
          objectives: objectives[0].value,
          dateOfBirth: dateOfBirth[0].value,
          forObject: forObject.filter(":checked").val(),
          examId: "<%- examId %>",
          extraInfor: optionInfor.val(),
        };

        // Validate
        for (let index = 0; index < Object.keys(requestData).length; index++) {
          const key = Object.keys(requestData)[index];
          const val = requestData[key];
          if (requestData[key] == "") {
            alert("Vui lòng nhập đầy đủ thông tin");
            return;
          }
        }

        // Call service
        $.ajax({
          contentType: "application/json",
          url: "/api/user-exams/transaction",
          type: "POST",
          data: JSON.stringify(requestData),
          success: function (data) {
            window.location.href = `/lam-bai-thi?id=<%- examId %>&transaction=${data._id}&type=${data.forObject}`;
          },
        });
      })
    );

    init();
  });
</script>
