@font-face {
  font-family: 'googleSan';
  src: url('../fonts/ProductSansRegular.ttf') format("truetype");
}

body{
    font-family: 'googleSan';
}

.navbar{
  background-color: #4893d4;
}

.banner-content {
  z-index: 100;
}

.get-now-btn-ctn{
  bottom: 24px;
  cursor: pointer;
}

.footer{
  background-color: #1F2535;
  min-height: 130px;
}

.home-content{
  background-image: url("../images/trong_dong.svg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

@media only screen and (max-width: 1024px) {
  .banner-img{
    display: none;
  }
}