<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/meta %>
        <title>Trang chủ | <%- directories.webName %>, Chuyên trang tổ chức thi, phổ biến về pháp luật trực tuyến.
        </title>
        <meta name="description"
            content="Chuyên trang tổ chức thi, phổ biến về pháp luật trực tuyến dành cho công dân huyện Nghi Lộc, tỉnh Nghệ An.">
</head>

<body>
    <% include ../partials/navbar %>
        <% include ../partials/banner %>
            <div class="home-content mt-3">
                <div class="container">
                    <div style="min-height: 300px;" class="bg-white p-3 border">
                        <% if (!isExamStarted) { %>
                            <p class="text-primary text-uppercase text-center" style="font-size: 14px; font-weight: bold;">Thông báo: Cuộc thi chưa bắt đầu, mời bạn trở lại sau!</p>
                            <% } %>
                                <% if (isExamStarted) { %>
                                    <% include ../partials/userInformation %>
                                    <% } %>
                    </div>
                </div>
            </div>
            <% include ../partials/footer %>
</body>
<% include ../partials/script %>

</html>